<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Agregar máquina</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div>
        <h2>Agregar máquina</h2>
        <form method="post">
            <input type="text" name="client" placeholder="Cliente"><br><br>
            <input type="text" name="client_phone" placeholder="Teléfono"><br><br>
            <input type="text" name="machine_model" placeholder="Modelo"><br><br>
            <input type="text" name="problems" placeholder="Problemas"><br><br>
            <input type="submit" value="Agregar">
        </form>
        <p>{{data}}</p>
    </div>
</body>
</html>